<div class="row">
    <div class="col">
        <input type="text" #termino (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar un artista">

    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div *ngFor="let artista of artistas" class="col">
        <div class="card">
            <img [src]="artista.images | noimage " class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ artista.name }}</h5>
                <!-- <p class="card-text"><span class="badge bg-primary">{{ artista.name }}</span> </p> -->-->
            </div>
        </div>
    </div>
</div>