<h1>Buscando: <small>{{ nombre }}</small></h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="heroe.length == 0">

    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No existen resultados con el termino: {{nombre}}

        </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4 animated fadeIn fast">
    <!-- *ngFor="let item of heros; let i=index " -->
    <!-- <div class="col-md-4 animated fadeIn fast"> -->
    <app-heroe-tarjeta [heroe]="heroe" [index]="heroe.idx" *ngFor="let heroe of heroe; let i=index "></app-heroe-tarjeta>
    <!-- </div> -->
</div>